TZ=Pacific/Auckland

PUBLIC_URL=https://admin.lightoflife.org.nz
CORS_ORIGIN=https://lightoflife.org.nz,https://www.lightoflife.org.nz,https://admin.lightoflife.org.nz,http://127.0.0.1:8088,http://localhost:8088
LOCAL_NGINX_PORT=8097

POSTGRES_DB=lightoflife
POSTGRES_USER=lightoflife
POSTGRES_PASSWORD=change-this-long-random-password

DIRECTUS_KEY=change-this-32-character-random-key
DIRECTUS_SECRET=change-this-long-random-secret
ADMIN_EMAIL=oyzpeng@gmail.com
ADMIN_PASSWORD=change-this-admin-password

BACKUP_RETENTION_DAYS=14
